[submodule "external/alphatwirl"]
	path = external/alphatwirl
	url = https://github.com/alphatwirl/alphatwirl
[submodule "external/alphatwirl-interface"]
	path = external/alphatwirl-interface
	url = git@github.com:benkrikler/alphatwirl-interface
