[submodule "external/alphatwirl"]
	path = external/alphatwirl
	url = https://github.com/benkrikler/alphatwirl
[submodule "external/alphatwirl-interface"]
	path = external/alphatwirl-interface
	url = https://github.com/benkrikler/alphatwirl-interface
